@model EmpleadoAsalaridoPorComisionModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmpleadoAsalaridoPorComision</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentaBruta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentaBruta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifaPorComision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifaPorComision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumeroDeSeguro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
